.find{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:34px;padding-left:48px;}
.clock{background:url(../imgs/allbgs.png) no-repeat 0px -34px;height:34px;padding-left:34px;}
.message{background:url(../imgs/allbgs.png) no-repeat 0px -68px;height:37px;padding-left:39px;}
.local{background:url(../imgs/allbgs.png) no-repeat 0px -105px;height:37px;padding-left:33px;}
.search1{background:url(../imgs/allbgs.png) no-repeat -52px 0px;height:39px;padding-left:39px;}
.type{background:url(../imgs/allbgs.png) no-repeat 0px -192px;height:39px;padding-left:41px;}
.home{background:url(../imgs/allbgs.png) no-repeat 0px -144px;height:44px;padding-left:46px;}
.miaosha{background:url(../imgs/allbgs.png) no-repeat -44px -62px;height:45px;padding-left:177px;}
.search{background:url(../imgs/allbgs.png) no-repeat -1px -242px;height:59px;padding-left:498px;}
.person{background:url(../imgs/allbgs.png) no-repeat -48px -191px;height:38px;padding-left:38px;}
.shoppingCar{background:url(../imgs/allbgs.png) no-repeat -91px -194px;height:35px;padding-left:44px;}
.top{background:url(../imgs/allbgs.png) no-repeat -142px -152px;height:84px;padding-left:86px;}
